
<br>
<div class="wsd">
  <div class="lyrics">
      <h1>
          Titulo
      </h1>
      <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
      </p>
  </div>
    <img class="inicio" src="imagen\best-automotive-diagnostic-scanner.jpg"
</div>


  
<body>
</html>