

             <br> 
    
        <div class=overall>
            
            <button class=caja-1  style="cursor: pointer;" id="caja-1">
                Programación sensores de aire TPMS<br><br>
                <img src="imagen\Low-Tire-Pressure-Warning-Light-720x380.jpg" width="230px" height="160px">
            </button>
            <button class=caja-1 style="cursor: pointer;" id="caja-2">
                Lectura códigos obd<br><br><br>
                <img src="imagen\check-engine-light_1.jpg" width="230px" height="160px">
               
            </button>
            <button class=caja-1  style="cursor: pointer;" id="caja-3">
                Regeneración DPF<br><br><br>
                <img src="imagen\download.jpg" width="230px" height="160px">
               
            </button>
        </div>
        <br>
        
    </div>
    <div class="modal-conteiner"  id="modal-conteiner">
        <div>
            <h1 class="titulo">TPMS</h1>
            <div class="contenido">
                <img src="imagen\images.jpeg" width="250px" class="pelao">
            <p class="texto">
     Diagnóstico y programación de sensores de presión de aire con herramienta especial. Todas las marcas <br>
     Diagnostico: $15.000 <br>
     Programación: $25.000
            </p>
        </div>
            <button class="close"  id="close" style="cursor: pointer;">Cerrar</button>

        </div>
        <div class="modal-conteiner" id="modal-conteiner2">
            <div >
                <h1 class="titulo">Lectura códigos obd</h1>
                <div class="contenido">  
                    <img src="imagen\welches-ist-das-beste-kfz-diagnosegeraet-wir-testen-aus-1.jpg" width="250px" class="pelao">   
                <p class="texto">
         Lectura códigos ob2 y diagnóstico electrónico abordo. Todas las marcas.<br>
         $15.000
                </p>
            </div>
                <button class="close" id="close2" style="cursor: pointer;">Cerrar</button>
    
            </div>
            <div class="modal-conteiner" id="modal-conteiner3">
                <div>
                    <h1 class="titulo">Regeneración DPF</h1>
                    <div class="contenido">  

                        <img src="imagen\hqdefault.jpg" width="250px" class="pelao">
                        
                    <p class="texto">
            Regeneración del filtro de partículas diesel mediante herramienta electrónica. Solo marcas compatibles<br>
            $35.000

                    </p>
                </div>
                    <button class="close" id="close3" style="cursor: pointer;">Cerrar</button>
        
                </div>

    </div>
    <link rel="bootstrap" href="css\bootstrap.css">
        <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script  src ="js\servicios.js"></script>

   
    </body>
</html>